# Spotify API Credentials
SPOTIPY_CLIENT_ID=your_spotify_client_id
SPOTIPY_CLIENT_SECRET=your_spotify_client_secret
SPOTIPY_REDIRECT_URI=http://localhost:8888/callback

# Genius API Credentials
# Obtén tu token en https://genius.com/api-clients
GENIUS_TOKEN=your_genius_token
